:root {
    --dark-scheme: #141414;
    --light-scheme: #f0f3f6;
    --dark-grad: linear-gradient(to top, #141414,  #141414cd, #14141400 );
    --light-grad: linear-gradient(to top, #f0f3f6, #f0f3f6cd, #f0f3f600);
}
#contact-container {
    position: relative;
    display: grid;
    place-items: center;
    grid-template-areas: "inner-div";
}

#contact-container p {
    grid-area: inner-div;
    width: 100%;
    transition: all 0.8s;
}

#contact-us {
    opacity: 1;
}
#copy-success {
    opacity: 0;
    pointer-events: none;
}

#credit {
    text-align: center;
    font-size: 11px;
    height: fit-content;
    opacity: 0.7;
    width: 100%;
}
#credit a {
    text-decoration: underline;
}

#back {
    width: 100%;
    height: calc(100vh);
    position: fixed;

}

.star {
    position: absolute;
    transform: rotate(45deg);
    /* border-radius: 2rem; */
    /* border: 4px solid; */
}

@media (pointer:coarse) {
    @media (prefers-color-scheme:dark) {
    .button-cluster p:hover {
        background-color: var(--light-scheme) !important;
        color: var(--dark-scheme) !important;
    }
}

    @media (prefers-color-scheme:light) {
    .button-cluster p:hover{
        background-color: var(--dark-scheme) !important;
        color: var(--light-scheme) !important;
    }
}
}

@media (prefers-color-scheme:light) {
    #back {
        opacity: 0.6;
    }
    .aura {
        opacity: 0.025
    }
    :root {
        --star-color-p: #9b3a64; 
        --star-color-b: #b19127; 
    }
    .fa-2x .fa-stack-1x {    
        color: var(--light-scheme) !important;
       
    }
    a { color: var(--dark-scheme); }
    body {
        color: var(--dark-scheme);
        background-color: var(--light-scheme);
    }
    .sep {
        border-color: var(--dark-scheme);
    }
    .button-cluster p { border: 2pt solid var(--dark-scheme);}
    .button-cluster p,
    .star {
        background-color: var(--dark-scheme);
        color: var(--light-scheme);
    }
    .button-cluster p:hover {
        background-color: var(--light-scheme);
        color: var(--dark-scheme);
    }
    /* #scroll-indic {
        background-image: var(--light-grad);
    } */
}
@media (prefers-color-scheme:dark) {
    #back {
        opacity: 0.7;
    }
    .aura {
        opacity: 0.015
    }
    :root {
        --star-color-p: #f1bfd3; 
        --star-color-b: #f1edc4; 
    }
    .fa-2x .fa-stack-1x {
        color: var(--dark-scheme) !important;
    }

    a { color: var(--light-scheme); }
    body {
        color: var(--light-scheme);
        background-color: var(--dark-scheme);
    }
    .sep {
        border-color: var(--light-scheme);
    }
    .button-cluster p { border: 2pt solid var(--light-scheme);}
    .button-cluster p,
    .star {
        background-color: var(--light-scheme);
        color: var(--dark-scheme);
    }
    .button-cluster p:hover{
        background-color: var(--dark-scheme);
        color: var(--light-scheme);
    }
    /* #scroll-indic {
        background-image: var(--dark-grad);
    } */
}

@media (min-height: 815px) {
    h1 span {
        font-size: 36px;
    }
    .heading-container {
        align-items: center;
        height: 91%;
    }
}

@media (max-height: 815px) {
    h1 span {
        font-size: 36px;
    }
    .heading-container {
        /* display: block !important; */
        align-items: top;
        height: 100%;
    }
    /* .social-box {
        padding-bottom: 20px !important;
    } */
    .heading-container {
        width: 80%;
        margin: 10%;
    }
}

@media (min-width: 710px) {
    .heading-container {
        width: 80%;
        margin: 10%;
    }
    h1 span {
        font-size: 36px;
    }
    h1 {
        font-size: 76px;
    }
    #header-icon {
        height: 90px;
    }
    .social-box a:hover p {
        opacity: 1;
    }
}
@media (max-width: 710px) {
    .heading-container {
        width: 80%;
        margin: 10%;
    }
    h1 {
        font-size: 64px;
    }
    h1 span {
        font-size: 32px;
    }
    #header-icon {
        height: 80px;
    }
    .social-box p {
        display: none;
    }
    .social-box a:hover p {
    opacity: 0;
    }
    .social-box {
        margin-bottom: 30px !important;
    }
    /* @media (max-height: 805px) { 
        #scroll-indic {
            visibility: visible !important;
        }
    } */
}
@media (max-width: 550px) {
    h1 {
        font-size: 52px;
    }
    h3 {
        font-size: 15px;
    }
    h1 span {
        font-size: 28px;
    }
    .button-cluster {
        font-size: 14px !important;
        display: block !important;
    }
    
}
/* 

#scroll-indic {
    visibility: hidden;
    display:flex;
    justify-content: center;
    text-align: center;

    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    padding: 80px 0 10px 0;

    z-index: 200;
    
    transition: opacity 0.25s ease-in-out;
    pointer-events: none; 
}

#scroll-indic i {
    font-size: 20px;
}

#scroll-indic p {
    margin: 0;
}
#scroll-indic div {
    animation-name: float;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */
@keyframes float {
    0% {
        transform: translateY(-10px);
        -webkit-transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
    }
}


html {
    /* height: 100%; */
    overflow-x: hidden;
}
body {
    font-size: 14px;
    font-family:'Poppins';
    font-weight: 400;
    margin: 0;
    padding: 0;

    /* height: 100%; */
    overflow-x: hidden;
}
h1 {
    font-weight: 600 !important;
    line-height: 120%;
    margin: 0;
}
h2 {
    font-weight: 400;
    font-size: 22px;
    margin: 0;
    padding: 5px;
}
h3 {
    font-weight: 400;
    line-height: 25px;
}
i {
    margin-right: 3px;
}
a {
    text-decoration:none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    user-select: none;
}

.button-cluster {
    font-size: 15px;
    display: flex;
    justify-content: center;
    padding: 16px;
}
.button-cluster p {
    margin: 10px;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
    transition: all .3s ease-in-out;
}

.social-box {
    /* width: fit-content; */
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 35px 0 0 0;
    font-size: 13px;

    text-align: center;
}
.social-box a {
    padding: 8px 8px 0px 8px;
}
.social-box p {
    opacity: 0;
    font-size: 14px;
    transition: all .3s ease-in-out;
    width: 100%;
}
#header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* width: 92%;
    height: 92%;
    margin: 4%; */
}
.heading-container {
    display: flex;
    justify-content: center;
    text-align: center;
}
#header-icon {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    margin: 30px 0 30px 0 !important;

    background-image: url("./assets/marketing/single-small.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
#contact-us a {
    text-decoration: underline !important;
    cursor: pointer;
}

#logo-contain {
    padding: 20px 0 0px 0;
}

.subtitle {
    font-size: 60px;
}
